body{
        font-family: "Roboto", sans-serif; 
        color: #434455;
        background-color: #fff;
    }

    ul, ol{
        list-style-type: none;
    }
    a{
        text-decoration: none;

    }
    .logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
.header-logo .logo-part{
    color: #2e2f42;
}
.footer-logo .logo-part{
    color: #f4f4fd;
} 
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}


.contacts{
    font-style: normal;
}
.contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
color: #404bbf;
}
.page-footer{
    background-color: #2e2f42
}
.main-page {
    background-color: #2e2f42;
}
.main-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}
.main-button{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
}

.our-team {
    background-color: #f4f4fd;
}
.our-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}
.our-team-box{
    background-color: #fff;
}
.our-portfolio{
    background-color: #fff;
}
.our-portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.footer-tekst{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.our-team-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.our-team-tekst{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.main-button:hover,
.main-button:focus{
background-color: #404bbf;
}
.categories-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.categories-tekst{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-banking{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-banking-tekst{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
